@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/keyframes' as *;

// add box shadow, active, drop animation, and images of food in bg

body {
  background-color: hsl(60, 11%, 95%);
  color: $dark-text-color;
}
.front{


  &__bg-image {
    background: none;

    @include tablet {
    background: url(../../assets/images/front-bg-blur-light-dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

  &__wrap {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.front-aside {
  display: none;

  @include tablet { 
    display: inherit;
  }

    &__wrap {
      display: none;
      

      @include tablet { 
        display: inherit;
        background-color: rgba(255, 255, 255, 0.90);
        border-radius: 0.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 22rem;
        margin: auto 5rem
        }
      }


    &__title {
      display: none;

      @include tablet { 
        display: inherit;
        margin: 2rem 1rem;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        color: $dark-text-color
      }
    }

    &__body-text {
      display: none;

      @include tablet {
        display: inherit;
        font-weight: 400;
        margin: 1rem 1rem;
        color: $red-text-color;
        text-align: center;
      }
    }

    &__btn-ctnr {
      display: none;

      @include tablet { 
          display: inherit;
        margin: 2rem 0 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: textdrop 0.6s;
      }
    }

    &__button {
      display: none;

      @include tablet {
          display: inherit; 
        @include button;
        margin: 1rem 1rem;
        background-color: $dark-text-color;
        box-shadow: 2px 2px #888888;
        cursor: pointer;
      }
  }
  
}

.front-phone {

  &__wrap {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;


  @include tablet {
      width: 31rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: url(../../assets/images/phone-overlay-white-bg.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height:60rem;
    }
  }

  &__screen-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 24.81rem;
    margin-left: 0.3rem;
  }

  &__logo {
    padding-top: 2rem;
    width: 12.5rem;
    margin-bottom: 1rem;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    margin: 1rem 0 1rem 0rem;
  }

  &__youtube-image {
    display: none;

    @include tablet {
        display: inherit;
        object-fit: cover;
        width: 100%;
        padding-bottom: 2rem;
      }
    }

    &__title {
      display: inherit;
      margin: 2rem 1rem;
      font-weight: 600;
      font-size: 1.5rem;
      text-align: center;
      color: $dark-text-color;
    
      @include tablet { 
        display: none;
      }
    }

  &__btn-ctnr {
    display: inherit;
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: textdrop 0.6s;


    @include tablet { 
      display: none;
    }
  }

  &__button {
    display: inherit; 
    @include button;
    margin: 1rem 1rem;
    background-color: $dark-text-color;
    box-shadow: 2px 2px #888888;
    cursor: pointer;

    @include tablet {
      display: none;
    }
}
}