@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.userHomePage {

  &__wrap {
    margin: 0 auto;
    max-width: 64rem;
  }

  &__map-ctnr {
    max-width: 64rem;
  }
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}




.popup{

  &__header {
    @include dt-sec-hdr-style;
    margin-bottom: 0.25rem;
  }

  &__body {
    @include dt-bdy-copy-style
  }

  &__body-bold {
    color: $green-color;
    font-weight: 700;
  }

  &__sub-ctnr {
    @include dt-bdy-copy-style;
    display: flex;
    justify-content: space-between;
  }

  &__weblink {
    font-weight: 500;
  }

  &__img-ctnr {
    width: 25rem;
    height:15rem;

  }

  &__img {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
  }

  &__btn-ctnr {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }

  &__uber-btn {
    @include button-form;
    width: 32%;
    padding: 0.35rem 0;
    text-align: center;
  }

  &__otable-btn {
    @include button-form;
    background-color: $opentable-color;
    padding: 0.35rem 0;
    width: 32%;
  }

  &__direct-btn {
    @include button-form;
    background-color: $googledirect-color;
    padding: 0.35rem 0;
    width: 32%;
  }
}