.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn-img {
  width: 2rem;
  height: 2rem;
}

.userHomePage {
  display: flex;
  flex-direction: column;
  
  &__map-ctnr{
    display: flex;
    justify-content: center;
  }
}

.popup-img{
  width: 20rem;
}