// primary colors
$dark-bg-color: #8e8741;
$dark-text-color: #4c3327;
$red-text-color: #ac5225;
$light-bg-color: rgb(226, 226, 219);
$silver-color: rgb(192, 192, 192);
$med-bg-color: #f0ede3;
$green-color: #3FC060;
$dark-color: #162328;

// secondary colors
$light-border-color: #FBEEC1;
$dark-border-color: #BC986A;
$blue-color: #659DBD;
$opentable-color: #d33541;
$googledirect-color: #156ae3;