@use "variables" as *;
@use "colors" as *;

@mixin tablet {
  @media (min-width: $tablet) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
      @content;
  }
}

@mixin dt-sec-hdr-style {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
}

@mixin dt-subhd-style {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

@mixin dt-bdy-copy-style {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin dt-lbls-btn-style {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
}

@mixin button {
  text-align: center;
  border-radius: 0.5rem;
  width: 10rem;
  padding: 0.65rem 1rem;
  background-color: $green-color;
  color:white;
  cursor: pointer;

  &:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  }
}

@mixin button-form {
  text-align: center;
  border-radius: 0.5rem;
  width: 10rem;
  padding: 0.65rem 1rem;
  background-color: $green-color;
  color:white;
  border: none;
  box-shadow: 2px;
  padding: none;
  cursor: pointer;

  &:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  }
}

@mixin input-field {
  width: 24rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}