@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.login {
  &__btn {
    @include button;
    @include dt-bdy-copy-style;
    background-color: $dark-text-color;
    border: none;
    font-size: 1.3rem;
    margin: 0 auto;
  }
}
