@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

body {
  background-color: hsl(60, 11%, 95%);
  color: $dark-text-color;
}

.login {
  
  &__wrap {
    margin: 0 auto;
    width: 64rem;
    height: 60rem;
    background-image: url(../../assets/images/loginsignup.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ctnr {
    width: 26rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 0.5rem;
    padding: 2rem 1rem;
  } 

  &__header {
    margin-bottom: 2rem;
  }


  &__form-ctnr {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom:0.25rem;
    @include dt-bdy-copy-style
  }

  &__input {
    @include input-field;
  }

  &__btn {
    @include button;
    @include dt-bdy-copy-style;
    background-color: $dark-text-color;
    border: none;
    font-size: 1.3rem;
    margin: 0 auto;
  }

  &__signup-text{
    margin-top: 1rem;
  }
}