@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.instance-card {
  border: 1px solid $dark-border-color;
  border-radius: 0.5rem;
  box-shadow: 2px 2px #888888;
  background-color: $med-bg-color;
  display:flex;
  align-items: center;
  margin: 0.5rem 0;

  &__avatar {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    margin: 1rem 2rem 1rem 1rem;
  }

  &__avatar-img {
    width: 100%;
    height: 100%;
  }

  &__text-ctnr {
    width: 25%;
  }

  &__influencer {
    color: $opentable-color;
    font-size: 1.2rem;
  }

  &__bizname {
    color: black;
    font-size: 1rem;
  }

  &__text-ctnr-play {
    width: 5rem;
    cursor: pointer;
    object-fit: contain;
  }

  &__play-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
  }
}