@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

a {
  color: #ffffff;
  font-size: initial;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: $dark-bg-color;
  color: white;


  &__logo {
    width: 7rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 300;
    margin-left: 1.5rem;
  }

}